body{
  font-family: "Montserrat";

}

#title{
  background-color: #ff4c68;
  color:#fff;
}

h1{
  font-family:"Montserrat-black";
  font-size:3.5rem;
  line-height:1.5;
}

h2{
  font-family:"monserrat-bold";
  font-size:3rem;
  line-height:1.5;
}


.container-fluid{
  padding: 3% 15% 17%;
}

.navbar-brand{
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight:bold;
}

.navbar{
  padding-bottom:4.5rem;
}

.nav-item{
  padding: 0px 18px;
}

nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";

}

.download-button{
  margin:5% 3% 5% 0;
}

.title-img{
  width:60%;
  transform: rotate(25deg);

}

.row{
  margin-top:50px;
}

.head3{
  font-size: 1.5rem;
  font-family: "monserrat-black";
}

.p1{
  color: #8f8f8f;
}

#features{
  padding:7% 15%;

}

.features-box{
  text-align:center;
}

.icon{
  color:#ef8172;
}

.icon:hover{
  color:#ff4c68;
}


#testimonials{
  text-align: center;
  background-color:#ef8172;
  color:#fff;
}

.testimonial-img{
  width:10%;
  border-radius:100%;
  margin:20px;

}

#press{
  background-color:#ef8172;
  text-align:center;
  padding-bottom:3%;
}

.press-logo{
  width:15%;
  margin:20px 20px 50px;
}


.carousel-item{
  padding:7% 15%;

}
.card{
  margin:10px;
}

.hello{
  text-align: center;
}

#pricing{
  padding: 100px;
  text-align:center;
}

#cta{
  background-color:#ef8172;
  color: #fff;
  padding: 7% 15%;
  text-align:center;
}
.cta-heading{
  font-family: "monserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer{
  text-align: center;
  padding: 7% 15%;
}

.ss{
  padding:1%;
}

@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-img{
    position:static;
    transform: rotate(0);
  }





}
